---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
  <section class="space-y-5">
    <h1 class="font-heading text-4xl">About Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. 
    </p>

    <p>
      Morbi tristique senectus et netus. Id semper risus in hendrerit gravida
      rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis
      purus sit amet. Tellus molestie nunc non blandit massa. 
    </p>

    <p>
      Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque.
      Diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac
      felis donec. Egestas integer eget aliquet nibh praesent tristique magna
      sit amet. Eget magna fermentum iaculis eu non diam. 
    </p>

    <p>
      Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere
      ac ut consequat semper viverra. Tellus mauris a diam maecenas sed enim ut
      sem viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris
      in. 
    </p>

    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>
</MainLayout>
